body{
    margin: 0;
    padding: 0;
    background-color: rgb(60, 65, 45);
   
}

.navbar{
    background: rgb(11, 2, 1);
    background: linear-gradient(90deg, rgba(11, 2, 1, 1) 6%, rgba(33, 10, 0, 1) 100%);
}

.card{
    background-color: rgb(60, 65, 45);
    height: auto;
    padding: 10px;
}